<div class="container">
    <div class="container p-3 text-center">
        <h2>ACOL Choir Elections</h2>
    </div>

    <div class="row d-justify-content-center">
        
        <form action="/voting/checkCoupon" method="POST" id="couponForm">
        {{> success}} {{> error}}
            <div class="form-group">
                <input type='text' name="code" class="form-control" placeholder="Enter coupon Code" required='true' />
            </div>
            <button class="btn btn=block" type="submit" id="btn">Submit</button>        
        </form>

    </div>
</div>