#button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size : 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

@media screen and (max-width: 900px) {
    #button{
        color: #090909;
        padding: 0.3em 1.1em;
        font-size : 12px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }
  }