#button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size : 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 2px 2px 4px #c5c5c5, -2px -2px 4px #ffffff;
}

@keyframes bounceFromBottomLeft { 
    0%, 20% {transform: translate(-60px, 60px);} 
    40% {transform: translate(-30px, 30px);} 
    60% {transform: translate(0px, 0px);} 
    80% {transform: translate(0px, 20px);} 
    100% {transform: translate(0px, 0px);} 
 }

 @keyframes bounceFromBottom { 
    0%, 20%, 40% {opacity: 0; transform: translateY(60px);} 
    60% {opacity: 0.5;transform: translateY(30px);} 
    100% {opacity: 1; transform: translateY(0px);} 
 }

@media screen and (max-width: 900px) {
    #button{
        color: #090909;
        padding: 0.3em 1.1em;
        font-size : 12px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 2px 2px 4px #c5c5c5, -2px -2px 4px #ffffff;
    }
  }

  @media print {
    #header{
        display: none;
    }
}